@charset "UTF-8";
@import "reset";

:root {
	--color-border: #eee;
	--color-dark-02: #f9f9f9;
	--color-dark-03: #eee;
	--color-primary: #0063d4;
	--color-white: #fff;
}
p {
	line-height: 1.7;
}

header {
	display: flex;
	position: sticky;
	top: 0;
	padding: 1.5rem 0;
	border-bottom: 1px solid var(--color-border);
	background-color: var(--color-white);

	align-items: center;
	justify-content: center;
	img {
		width: 160px;
	}
}

h1 {
	text-align: center;
}

.container {
	display: grid;
	max-width: 980px;
	margin-top: 2rem;
	margin-right: auto;
	margin-left: auto;

	grid-gap: 2rem;
	grid-template-areas: "primary secondary";
	grid-template-columns: 3fr 1fr;
}
.primary {
	grid-area: primary;
}
.secondary {
	grid-area: secondary;
}


.box {
	padding: 1rem;
	border: 2px solid var(--color-border);
}

.menu {
	padding: 1rem;
	border: 2px solid var(--color-border);
}

h2 {
	font-size: 1.2rem;
	font-weight: 600;
	text-align: center;
	+ p {
		margin-top: 1rem;
	}
}
p {
	text-align: center;
	+ form {
		margin-top: 1rem;
	}
}

table {
	width: 100%;
	margin-right: auto;
	margin-left: auto;
	th,
	td {
		padding: 1rem;
		border: 2px solid var(--color-white);
	}
	th {
		background-color: var(--color-border);
		text-align: left;
		vertical-align: middle;
	}
	td {
		background-color: var(--color-dark-02);
	}
}

.input-generate {
	text-align: center;
}

.output {
	input {
		width: 100%;
	}
}

select {
	padding: 0.5rem 1rem;
	border: 1px solid var(--color-border);
	border-radius: 3px;
	background-color: var(--color-white);
}

input[type="button"] {
	padding: 0.5rem 1rem;
	border: 1px solid var(--color-border);
	border-radius: 3px;
	color: var(--color-white);
	background-color: var(--color-primary);
	transition: 0.3s;
	&:hover {
		color: var(--color-primary);
		background-color: var(--color-white);
	}
}

input[type="text"] {
	height: 2rem;
	padding-right: 1rem;
	padding-left: 1rem;
	border: 1px solid var(--color-border);
	border-radius: 3px;
	background-color: var(--color-white);
}
